body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

header {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 15px;
}

#apod-gallery, #favs-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img, .card iframe {
  border-radius: 10px 10px 0 0;
  max-height: 250px;
  object-fit: cover;
}
